:host{
    width: 25%;
    margin:0px 10px;
}

.edit_button{
    margin-top:20px
}

.search_block{
    margin-top:20px;
}

.border_area{
    border-style: solid;
    border-width:2px;
    border-color: rgb(136, 131, 131);
    height: 550px;
    margin:0px auto 10px;
}