<p>
    計画実績記録
</p>
<div>    
    <mat-card>
        <mat-card-content>
            <div>
                <label><input type="checkbox">削除済みを表示</label>
            </div>
            <br>
            <div>
                <button mat-button>
                <mat-card>
                <mat-card-content>
                    <p>新規追加+</p>
                </mat-card-content>
                </mat-card>
                </button>
            </div>
            <br>
        </mat-card-content>
        <mat-card class="border-area">
            <p>> 計画実績記録A</p>
        </mat-card>
    </mat-card>
</div>