<!-- ヘッダー -->
<app-header></app-header>

<mat-sidenav-container>  
  <!-- サイドナビバー -->
  <app-side-bar></app-side-bar>
  <!-- メインコンテンツ -->
  <div class="container">
    <p>{{subtitle}}</p>
    <div class="flexbox">
      <!-- サイドバー -->
      <app-menu></app-menu>
      <div class="main_block">
        <mat-card>
          <!-- 上部のステータスボタンエリア -->
          <app-status-menu></app-status-menu>
          <!-- コンテンツ -->
          <!-- <app-plan-report></app-plan-report> -->
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>