.container{
    margin-left:260px;
    // left: calc(100vh - 64px); //ウインドウの高さからヘッダー分を引いてる
}

.active{
    background: rgb(0,0,0,0.1);
}
.toolbar{
    position: relative;
    z-index: 6;
}

.flexbox{
    display: flex;
}

.main_block{
    width: 65%;
    margin-top:55px
}