<div>
    <mat-card class="border_area">
        <div class="button_group">
            <p>申請中</p>
            <button mat-raised-button color="warn">申請却下</button>
            <button mat-raised-button color="warn">却下</button>
            <button mat-raised-button color="disabled">申請</button>
            <button mat-raised-button color="disabled">承認</button>
        </div>
        <div class="form_group">
            <form>
                <mat-form-field>
                    <mat-label>変更理由</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>承認者コメント</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </form>
        </div>
    </mat-card>
</div>